<p>mat-select works!</p>


<mat-form-field appearance="outline">
  <mat-label>Choose a country</mat-label>

  <mat-select>
    <mat-option value="in">India</mat-option>
    <mat-option value="us">USA</mat-option>
    <mat-option value="uk">UK</mat-option>
  </mat-select>

</mat-form-field>

<br/><br/>




<!-- <form [formGroup]="myForm">
  <mat-form-field appearance="fill">
    <mat-label>Select City</mat-label>
    <mat-select formControlName="city">
      <mat-option value="delhi">Delhi</mat-option>
      <mat-option value="mumbai">Mumbai</mat-option>
      <mat-option value="chennai">Chennai</mat-option>
    </mat-select>
  </mat-form-field>
</form> -->
