<router-outlet></router-outlet>
<br />
<br />
<!-- 
<mat-form-field appearance="outline">
  <mat-label>Name</mat-label>
  <input matInput placeholder="Enter your name" />
</mat-form-field> -->

<br />
<br />
<!-- <app-auto-complete></app-auto-complete>
<br />
<br />
<app-mat-tabs></app-mat-tabs>
<br />
<app-mat-form></app-mat-form>
<br />
<br />
<app-mat-button></app-mat-button> -->
<br />
<br />
<app-mat-select></app-mat-select>
<br />
<br />
<app-mat-check-box></app-mat-check-box>
<br />
<br />
<app-mat-radio></app-mat-radio>
<br />
<br />
<app-mat-date-picker></app-mat-date-picker>
<br />
<br />
